@import url("https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic&display=swap");

body {
  font-family: "Lato";
  color: #424551;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
}
.page {
}
.page__container {
}
.page__title {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 26px;
  color: #1e212c;
}
.page__image {
  text-align: center;
  margin-bottom: 60px;
}
.page__image img {
  max-width: 100%;
}

.page__main-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 24px;
}

.page__text {
  line-height: 160%;
  margin-bottom: 48px;
}
.page__text p {
  margin-bottom: 26px;
}
.page__quote {
}

.page__quote p {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 48px;
  padding-left: 58px;
  background: url("../img/icons/braces.svg") 0 0 no-repeat;
}
.page__text ul {
  margin-bottom: 24px;
}

.page__text li {
  background: url("../img/icons/check.svg") 0 6px no-repeat;
  padding-left: 32px;
  min-height: 35px;
  margin-bottom: 4px;
}
